body{
    font-family: 'Poppins', sans-serif;
}

#nav-area{
    margin-top: 0;
    margin-left: 5%;
    background-color: black;
    text-align: center;
  
   
}

  

ul{
    text-decoration: none;
    display: flex;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 200px

    
}

li{
    padding: 20px;
    color: aliceblue;
    padding-left: 5%;
    margin-right: 0px;
    text-decoration: none;
}
section{
    padding-top: 5%;
    display: flex;
   
}
.Half-width{
    width: 50%;
    padding-left: 5%;
}
.Half-width img{
    height: 80%;
}
#link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-size: 700;
    padding: 10px 40px;
    border-radius: 5px;

}
#link-button2{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-size: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.top-banner{
    background-image: url(images/download.png);
    
}
#full-stack{
    box-shadow: 5px;
    border-left: 5px;
    border-color: blue;
}
#experiance-area{
    margin-left: 5%;
    padding-left: 5%;
}
#experiance-title{
    text-align: center;
}
#footer-area{
    
   background-color: black;
    color: aliceblue;
    margin-left: 5%;
    text-align: center;
    padding: 5%;

}
